<!DOCTYPE html>
<html>
  <head>
    <title>LeProjetGossip</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

      <nav class="navbar navbar-light bg-light">
          <a class="navbar" href="/">Home</a>
          <a class="navbar" href="team">Team</a>
          <a class="navbar" href="contact">Contact</a>
      </nav>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
